doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext", rel="stylesheet")
    link(rel="stylesheet", href="index.css")
  body.blog-page
    header

    section.header-bg.pink
      header
        h1 Techblog
        p Code is what we do. We work with code, dream with it and think all the time about it. Why not to write (about) code as well?
      div.cover


    div.horizontal.scroll.trending
      span.label Trending 
      ul
        li
          a.tag(href="#") Scala (244)
        li
          a.tag(href="#") Play (1434)
        li
          a.tag(href="#") Slick (90)
        li
          a.tag(href="#") H2 (87)
        li
          a.tag(href="#") AngularJS (50)
        li
          a.tag(href="#") Kafka (46)
        li
          a.tag(href="#") Ansible (38)
        li
          a.tag(href="#") Spark (37)
        li
          a.tag(href="#") Java (34)

    section.row

      div.md-col-3-4.pad-right

        header.section-title-up.no-margin
          ul
            li.active
              h1 Latest
            li 
              h1 Most popular
          hr

        ul.row
          li.blog-item.md-col-1-2
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova
                wbr
                span.date 7&nbsp;June&nbsp;2016
                wbr
                span.time-to-read 5&nbsp;min&nbsp;read
            a(href="#")
              h1 Cooperation with an external software house.
              p.excerpt What is most important in cooperation with external software developers? What questions should be...
            a.btn(href="#") Read more

          li.blog-item.md-col-1-2
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova
                wbr
                span.date 7&nbsp;June&nbsp;2016
                wbr
                span.time-to-read 5&nbsp;min&nbsp;read
            a(href="#")
              h1 Cooperation with an external software house.
              p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
            a.btn(href="#") Read more

          li.blog-item.md-col-1-2
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova
                wbr
                span.date 7&nbsp;June&nbsp;2016
                wbr
                span.time-to-read 5&nbsp;min&nbsp;read
            a(href="#")
              h1 Cooperation with an external software house.
              p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
            a.btn(href="#") Read more

          li.blog-item.md-col-1-2
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova
                wbr
                span.date 7&nbsp;June&nbsp;2016
                wbr
                span.time-to-read 5&nbsp;min&nbsp;read
            a(href="#")
              h1 Cooperation with an external software house.
              p.excerpt What is most important in cooperation with external ...
            a.btn(href="#") Read more

      div.author-tags.md-col-1-4

        header.section-title-up.no-margin
          ul
            li
              h1 Author
          hr

        div.directory.vertical
          ul
            li
              a.tag(href="#") Michał Matłoka
            li
              a.tag(href="#") Jan Zborowski
            li
              a.tag(href="#") Jacek Kunicki
            li
              a.tag(href="#") Andrzej Ludwikowski
            li
              a.tag(href="#") Adam Warski
            li
              a.tag(href="#") Marcin Baraniecki
            li
              a.tag(href="#") Tomasz Dziurko
            li
              a.tag(href="#") Mikołaj Koziarkiewicz
            li
              a.tag(href="#") Michał Chmielarz
            li
              a.tag(href="#") Michał Matłoka
            li
              a.tag(href="#") Jan Zborowski
            li
              a.tag(href="#") Jacek Kunicki
            li
              a.tag(href="#") Andrzej Ludwikowski
            li
              a.tag(href="#") Adam Warski
            li
              a.tag(href="#") Marcin Baraniecki
            li
              a.tag(href="#") Tomasz Dziurko
            li
              a.tag(href="#") Mikołaj Koziarkiewicz
            li
              a.tag(href="#") Michał Chmielarz

    section.cta.pink
      h1 We are very into Open Source
      p Show me your Github account and I will tell you who you are.
        br
        |   We love open source and are great contributors to various projects as well as have some of our own OS projects. Curious? Undoubtedly you are!
      a.btn.full.large(href="#") Our OS projects

    section.header-bg.light-blue
      header
        h1 Company blog
        p Here we usually brag about our company, write about our findings, tools and some jokes. We like to learn new things and share our lifehacks with you.
      div.cover


    div.horizontal.scroll.trending
      span.label Topics
      ul
        li
          a.tag(href="#") company
        li
          a.tag(href="#") tips &amp; tricks
        li
          a.tag(href="#") conferences
        li
          a.tag(href="#") business
        li
          a.tag(href="#") industry
        li
          a.tag(href="#") remote work
        li
          a.tag(href="#") after work
        li
          a.tag(href="#") R&amp;D


    section.company-blog

      div.author-tags.md-col-1-4
        header.section-title-up.no-margin
          ul
            li
              h1 Author
          hr

        div.directory.vertical
          ul
            li
              a.tag(href="#") Ida Bzowska
            li
              a.tag(href="#") Jan Zborowski
            li
              a.tag(href="#") Jesper Loth
            li
              a.tag(href="#") Tomasz Dziurko
            li
              a.tag(href="#") Katarzyna Leszczyńska-Bohdan

      header.section-title-up.pad-right.no-margin.md-col-3-4
        ul
          li.active
            h1 Latest
          li 
            h1 Most popular
        hr

      ul.row
        li.blog-item.md-col-3-8
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          a(href="#")
            h1 Cooperation with an external software house.
            p.excerpt What is most important in cooperation with external ...
          a.btn(href="#") Read more

        li.blog-item.md-col-3-8
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          a(href="#")
            h1 Cooperation with an external software house.
            p.excerpt What is most important in cooperation with external software developers? What questions should be ...
          a.btn(href="#") Read more

        li.blog-item.md-col-3-8
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          a(href="#")
            h1 Cooperation with an external software house.
            p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
          a.btn(href="#") Read more

        li.blog-item.md-col-3-8
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          a(href="#")
            h1 Cooperation with an external software house.
            p.excerpt What is most important in cooperation with external software developers? What questions should be asked before...
          a.btn(href="#") Read more

        li.blog-item.md-col-3-8
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Katarszyna Leszhunska-Bohdan
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          a(href="#")
            h1 Cooperation with an external software house.
            p.excerpt What is most ...
          a.btn(href="#") Read more

    section.cta.full.light-blue
      h1 Want to talk to someone real?
      p You have checked our company blog! We are impressed! Want to move on? Discuss your project with somebody real. Like our Jan, who is a go-to person for your project.
      div.contact-info
        div.author-info.small
          div.avatar.small
            img(src="images/kunicki.jpg")
          div.author
            a.name(href="") Jan&nbsp;Zborowski
            p.position Business Development
        a.btn.full.large(href="#") Contact Jan

    section.header-bg.pink
      header
        h1 Team everywhere else
        p Nothing can stop us! After working hours we also write. We are smashing bloggers!
      div.cover

    section.row
      div.md-col-1-3.pad-right.team-blog
        header.section-title-up.no-margin
          ul
            li
              h1 Latest posts
          hr

        ul.row
          li.blog-item.col-1-1
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna Aleksandrova
                wbr
                span.date 7&nbsp;June&nbsp;2016
                wbr
                span.time-to-read 5&nbsp;min&nbsp;read
            a(href="#")
              h1 Cooperation with an external software house.
              p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
            a.btn(href="#") Read more

          li.blog-item.col-1-1
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna Aleksandrova
                wbr
                span.date 7&nbsp;June&nbsp;2016
                wbr
                span.time-to-read 5&nbsp;min&nbsp;read
            a(href="#")
              h1 Cooperation with an external software house.
              p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
            a.btn(href="#") Read more

      div.md-col-1-3.pad-right
        header.section-title-up.no-margin
          ul
            li
              h1 Blogs directory
          hr

        div.directory.vertical
          ul
            li
              a.btn.green(href="http://twitter.com") Software Ramblings
              p.desc by Michał Matłoka
            li
              a.btn.green(href="#") Abstraction Extraction
              p.desc by Jan Zborowski
            li
              a.btn.green(href="#") Code Hard Go Pro
              p.desc by Jacek Kunicki
            li
              a.btn.green(href="#") Software Passion
              p.desc by Andrzej Ludwikowski
            li
              a.btn.green(href="#") Liquid Sky
              p.desc by Adam Warski
            li
              a.btn.green(href="#") Digital Software Blog
              p.desc by Marcin Baraniecki
            li
              a.btn.green(href="#") Johny's blog
              p.desc by Tomasz Dziurko
            li
              a.btn.green(href="#") Mikołak
              p.desc by Mikołaj Koziarkiewicz
            li
              a.btn.green(href="#") Mikołak
              p.desc by Michał Chmielarz

      div.md-col-1-3
        header.section-title-up.no-margin
          ul
            li
              h1 Team tweets
          hr

        div.twitter
          a.twitter-timeline(data-dnt="true", href="https://twitter.com/softwaremill", data-chrome="noheader nofooter noborders transparent")
          script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")

    section.header-bg.light-purple
      header
        h1 Our presentations
        p Sharing is caring. We’re spending a lot of time working for community, as organizers and speakers at conferences, workshops, meetups. Check out our activity.
      div.cover

    section
      ul.row
        li.blog-item.presentation.md-col-1-3
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
          p.presented-at Presented at meet.js Poznań, March 2016
          a(href="#")
            h1 Transactional event sourcing using Slick (audit log for free!).
            p.excerpt Event sourcing using Slick and transactions.
          a.btn(href="#") Read more

        li.blog-item.presentation.md-col-1-3
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
          p.presented-at Presented at meet.js Poznań, March 2016
          a(href="#")
            h1 Transactional event sourcing using Slick (audit log for free!).
            p.excerpt Event sourcing using Slick and transactions.
          a.btn(href="#") Read more

        li.blog-item.presentation.md-col-1-3
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
          p.presented-at Presented at meet.js Poznań, March 2016
          a(href="#") 
            h1 Transactional event sourcing using Slick (audit log for free!).
            p.excerpt Event sourcing using Slick and transactions.
          a.btn(href="#") Read more








