doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext", rel="stylesheet")
    link(rel="stylesheet", href="index.css")
  body.events-page
    header

    section
      header
        h1 Meet us in the wild
        p We love, love, love going to, organizing and sponsoring events for Java/Scala community in Poland and elsewhere. You can meet us at listed events, talk to us about technologies, company or business. There’s many occasions to poke us.

      div.horizontal.scroll
        ul.events

          li.event-month June

            ul
              li.event
                p.event-type conference
                h1.event-name
                  a(href="#") Conference name
                p.event-date June 23, 2016
                p.event-place Krakow, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  span.more more
                a.btn(href="#") Learn more

              li.event
                p.event-type meetup
                h1.event-name
                  a(href="#") Scalar 2016
                p.event-date June 27, 2016
                p.event-place Warsaw, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                a.btn(href="#") Learn more
              

          li.event-month July

            ul
              li.event
                p.event-type conference
                h1.event-name
                  a(href="#") Conference name
                p.event-date July 3, 2016
                p.event-place Poznan, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  span.more more 
                a.btn(href="#") Learn more

              li.event
                p.event-type meetup
                h1.event-name
                  a(href="#") Scalar 2016
                p.event-date July 5, 2016
                p.event-place Krakow, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                a.btn(href="#") Learn more

              li.event
                p.event-type conference
                h1.event-name
                  a(href="#") Long confernce name that spans across two or three lines
                p.event-date July 7, 2016
                p.event-place Warsaw, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                a.btn(href="#") Learn more

          li.event-month August

            ul
              li.event
                p.event-type meetup
                h1.event-name
                  a(href="#") Long confernce name that spans across two or three lines
                p.event-date August 10, 2016
                p.event-place Warsaw, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  a.btn(href="#") Learn more

    section
      header
        h1 We are speakers
        p You know what they say - speech is silver, silence is golden, but we believe that speaking at conferences is priceless! We still have much to say :-)

      div.horizontal.scroll
        ul.talks
          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016 what is it's a long meetup name
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection long long name framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Katarzyna&nbsp;Leszczyńska-Bohdan

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection very-very-very long name for my lovely talk framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

    section
      div.section-title-in
        span Latest talks
        hr

      div.row
        div.md-col-1-3
          iframe(width="560", height="315", src="https://www.youtube.com/embed/ohbfak7TKOE", frameborder="0", allowfullscreen)
        div.md-col-1-3
          iframe(width="560", height="315", src="https://www.youtube.com/embed/3VV5Wxa9Aww", frameborder="0", allowfullscreen)
        div.md-col-1-3
          iframe(width="560", height="315", src="https://www.youtube.com/embed/a5ZJR00AcHE", frameborder="0", allowfullscreen)
      p.centered For more talks visit our 
        a(href="https://www.youtube.com/channel/UCDHLL2QvdpCytAfBiwUeKgg") Youtube
        |   &amp; 
        a(href="#") Vimeo
        |   pages.

    section
      div.section-title-in
        span Latest blogs
        hr

      ul.row
        li.md-col-1-3.blog-item
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna&nbsp;Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          h1 Cooperation with an external software house.
          p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
          a.btn(href="#") Read more

        li.md-col-1-3.blog-item
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna&nbsp;Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          h1 Cooperation with an external software house.
          p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
          a.btn(href="#") Read more

        li.md-col-1-3.blog-item
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna&nbsp;Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          h1 Cooperation with an external software house.
          p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
          a.btn(href="#") Read more

    section
      header
        h1 We are organizers
        p Proud of our work for others. Proud of Scalar - pivotal conference for us and Scala community - the largest in Central Europe. How much are we involved in events organizing? - find it out.
      
      section.scalar
        h1 Scalar conference info

      section.row
        div.md-col-2-5
          div.section-title-in
            span Latest from Scalar blog
            hr

        div.md-col-3-5
          div.section-title-in
            span conference talks
            hr

          ul.row
            li.md-col-1-3
              iframe(width="560", height="315", src="https://www.youtube.com/embed/X3OunZpyGPc?list=PL8NC5lCgGs6Nj6Y2Tg5kNNFepfvLTLPL_", frameborder="0", allowfullscreen)
            li.md-col-1-3
              iframe(width="560", height="315", src="https://www.youtube.com/embed/KGJLeHhsZBo?list=PL8NC5lCgGs6Nj6Y2Tg5kNNFepfvLTLPL_", frameborder="0", allowfullscreen)
            li.md-col-1-3
              iframe(width="560", height="315", src="https://www.youtube.com/embed/7eQ-8f6lYOE?list=PL8NC5lCgGs6Nj6Y2Tg5kNNFepfvLTLPL_", frameborder="0", allowfullscreen)

      section.scalar-mini
        h1 Scalar mini
        p Scalar multiplication gave us Scalar Mini. Best programmers; deep knowledge and current tech trends in light formula of mini conference. In cooperation of local community and allegro Tech we’re organizing Scalar Mini since 2005. Just can’t get enough!

    section
      div.section-title-in
        span We sponsor and (co-)organize
        hr

      ul.row
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland
        li
          a(href="#").event-item
            p.event-type conference
            h1.event-name Scalar 2016
            p.sponsorship silver sponsor
            p.event-date June 27, 2016 
            p.event-place Poznan, Poland















