doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext", rel="stylesheet")
    link(rel="stylesheet", href="index.css")
  body

    //- h1 Author info (.author-info)

    //- h2 Large (.author-info.large)

    //- div.author-info.large
    //-   div.avatar
    //-     img(src="images/kunicki.jpg")
    //-   div.author
    //-     a.name(href="") Maryna&nbsp;Aleksandrova
    //-     wbr
    //-     span.position Designer
    //-     wbr
    //-     span.social-media
    //-       a.social-btn-circle.fb(href="")
    //-         img(src="")
    //-       a.social-btn-circle.tw(href="")
    //-         img(src="")
    //-       a.social-btn-circle.in(href="")
    //-         img(src="")
    //-     wbr
    //-     span.date 7&nbsp;June&nbsp;2016
    //-     wbr
    //-     span.time-to-read 5&nbsp;min&nbsp;read

    //- h1 Event calendar

    //- div.event-calendar
    //-   div.event

    //- HEADERS ------------

    h1.utility-title Headers:

    h2.utility-title - Regular headers:

    section
      header
        h1 Meet us in the wild
        p We love, love, love going to, organizing and sponsoring events for Java/Scala community in Poland and elsewhere. You can meet us at listed events, talk to us about technologies, company or business.

    section.utility-code
      pre.
        header
          h1 Meet us in the wild
          p We love, love, love going to...

    section
      header
        h1 Meet us in the wild

    section.utility-code
      pre.
        header
          h1 Meet us in the wild

    h2.utility-title - Image background headers. Available classes 
      code .pink
      |, 
      code .light-green
      |, 
      code .light-blue
      |, 
      code .light-purple
      |:

    section.header-bg.pink
      header
        h1 Meet us in the wild
        p We love, love, love going to, organizing and sponsoring events for Java/Scala community in Poland and elsewhere. You can meet us at listed events, talk to us about technologies, company or business.
      div.cover

    section.utility-code
      pre.
        section.header-bg.pink[.light-green|.light-blue|.light-purple]
          header
            h1 Meet us in the wild
            p We love, love, love going to...
          div.cover

    h2.utility-title(style="margin-top: 17px;") - Section titles. Class 
      code .section-title-in
      |:

    header.section-title-in
      ul
        li
          h1 Latest
      hr

    section.utility-code
      pre.
        header.section-title-in
          ul
            li
              h1 Latest
          hr

    h2.utility-title - Section titles. Class 
      code .section-title-up
      |:

    header.section-title-up
      ul
        li.active
          h1 Latest
        li 
          h1 Most popular
      hr

    section.utility-code
      pre.
        header.section-title-up
          ul
            li.active
              h1 Latest
            li 
              h1 Most popular
          hr

    h2.utility-title - 
      code .section-title-up.no-margin
      |:

    header.section-title-up.no-margin
      ul
        li.active
          h1 Latest
        li 
          h1 Most popular
      hr

    section.utility-code
      pre.
        header.section-title-up.no-margin
          ul
            li.active
              h1 Latest
            li 
              h1 Most popular
          hr

    //- BUTTONS ------------

    h1.utility-title Buttons: blue is default

    h2.utility-title - 
      code .btn

    a.btn(href="#") Read more

    section.utility-code
      pre.
        a.btn(href="#") Read more

    h2.utility-title - 
      code .btn.green

    a.btn.green(href="#") Read more

    section.utility-code
      pre.
        a.btn.green(href="#") Read more

    h2.utility-title - 
      code .btn.full

    a.btn.full(href="#") Read more

    section.utility-code
      pre.
        a.btn.full(href="#") Read more

    h2.utility-title - 
      code .btn.large

    a.btn.large(href="#") Read more

    section.utility-code
      pre.
        a.btn.large(href="#") Read more

    h2.utility-title - 
      code .btn.large.full

    a.btn.large.full(href="#") Read more

    section.utility-code
      pre.
        a.btn.large.full(href="#") Read more

    //- TAGS ------------

    h1.utility-title(style="margin-top: 20px;") Tags:

    h2.utility-title - Tags 
      code .tag

    h2.utility-title - 
      code .tag.technology

    a.tag.technology(href="#") Scala(244)

    section.utility-code
      pre.
        a.tag.technology(href="#") Scala(244)

    h2.utility-title - 
      code .tag.category

    a.tag.category(href="#") Web App

    section.utility-code
      pre.
        a.tag.category(href="#") Scala(244)

    h2.utility-title - 
      code .tag.industry

    a.tag.industry(href="#") Banking

    section.utility-code
      pre.
        a.tag.industry(href="#") Scala(244)

    h2.utility-title - Anything horizontal 
      code .horizontal

    ul.horizontal
      li
        a.tag(href="#") Scala(244)
      li
        a.tag(href="#") Play(1434)
      li
        a.tag(href="#") Slick(90)
      li
        a.tag(href="#") H2(87)
      li
        a.tag(href="#") AngularJS(50)

    section.utility-code
      pre.
        ul.horizontal
          li
            a.tag(href="#") Scala(244)
          li
            a.tag(href="#") Play(1434)
          ...

    h2.utility-title(style="margin-top: 33px;") - Anything horizontal with scroll  
      code .horizontal.scroll
    h2.utility-title - Trending / Topic 
      code .trending

    div.horizontal.scroll.trending
      span.label Trending 
      ul
        li
          a.tag(href="#") Scala(244)
        li
          a.tag(href="#") Play(1434)
        li
          a.tag(href="#") Slick(90)
        li
          a.tag(href="#") H2(87)
        li
          a.tag(href="#") AngularJS(50)
        li
          a.tag(href="#") Kafka(46)
        li
          a.tag(href="#") Ansible(38)
        li
          a.tag(href="#") Spark(37)
        li
          a.tag(href="#") Java(34)

    section.utility-code
      pre.
        div.horizontal.scroll.trending
          span.label Trending
          ul
            li
              a.tag(href="#") Scala(244)
            li
              a.tag(href="#") Play(1434)
            ...

    h2.utility-title - Vertical directory 
      code .directory.vertical

    section.utility-code
      pre.
        div.directory.vertical
          ul
            li
              a.tag(href="#") Michał Matłoka
            li
              a.tag(href="#") Jan Zborowski
            ...

    h2.utility-title(style="margin-top: 29px;") - Author directory
      code .author-tags

    section.row
      div.sm-col-2-3.author-tags
        div.section-title-up.no-margin
          span Author
          hr
        div(style="height: 264px").directory.vertical
          ul
            li
              a.tag(href="#") Michał Matłoka
            li
              a.tag(href="#") Jan Zborowski
            li
              a.tag(href="#") Jacek Kunicki
            li
              a.tag(href="#") Andrzej Ludwikowski
            li
              a.tag(href="#") Adam Warski
            li
              a.tag(href="#") Marcin Baraniecki
            li
              a.tag(href="#") Tomasz Dziurko
            li
              a.tag(href="#") Mikołaj Koziarkiewicz
            li
              a.tag(href="#") Michał Chmielarz

    section.utility-code
      pre.
        div.author-tags
          div.section-title-up.no-margin
            span Author
            hr
          div.directory.vertical
            ul
              li
                a.tag(href="#") Michał Matłoka
              li
                a.tag(href="#") Jan Zborowski
            ...

    h2.utility-title - Blogs directory

    div(style="width: 33%")
      div.section-title-up.no-margin
        span Blogs directory
        hr
      div(style="height: 264px").directory.vertical
        ul
          li
            a.btn.green(href="http://twitter.com") Software Ramblings
            p.desc by Michał Matłoka
          li
            a.btn.green(href="#") Abstraction Extraction
            p.desc by Jan Zborowski
          li
            a.btn.green(href="#") Code Hard Go Pro
            p.desc by Jacek Kunicki
          li
            a.btn.green(href="#") Software Passion
            p.desc by Andrzej Ludwikowski
          li
            a.btn.green(href="#") Liquid Sky
            p.desc by Adam Warski
          li
            a.btn.green(href="#") Digital Software Blog
            p.desc by Marcin Baraniecki
          li
            a.btn.green(href="#") Johny's blog
            p.desc by Tomasz Dziurko
          li
            a.btn.green(href="#") Mikołak
            p.desc by Mikołaj Koziarkiewicz
          li
            a.btn.green(href="#") Mikołak
            p.desc by Michał Chmielarz

    h1.utility-title Author-info
      code .author-info

    div.author-info.small
      div.avatar.small
        img(src="images/kunicki.jpg")
      div.author
        a.name(href="") Maryna&nbsp;Aleksandrova
        wbr
        span.date 7&nbsp;June&nbsp;2016
        wbr
        span.time-to-read 5&nbsp;min&nbsp;read

    section.utility-code
      pre.
        div.author-info.small
          div.avatar.small
            img(src="images/kunicki.jpg")
          div.author
            a.name(href="") Maryna&nbsp;Aleksandrova
            wbr
            span.date 7&nbsp;June&nbsp;2016
            wbr
            span.time-to-read 5&nbsp;min&nbsp;read

    h1.utility-title(style="margin-top: 41px;") Blog-item:
      code .blog-item

    div.blog-item
      div.author-info.small
        div.avatar.small
          img(src="images/kunicki.jpg")
        div.author
          a.name(href="") Maryna&nbsp;Aleksandrova
          wbr
          span.date 7&nbsp;June&nbsp;2016
          wbr
          span.time-to-read 5&nbsp;min&nbsp;read
      a(href="#")
        h1 Cooperation with an external software house.
        p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
      a.btn(href="#") Read more

    section.utility-code
      pre.
        div.blog-item
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna&nbsp;Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          a(href="#")
            h1 Cooperation with an external software house.
            p.excerpt What is most important...
          a.btn(href="#") Read more

    h2.utility-title - presentation 
      code .presentation

    div.blog-item.presentation
      div.author-info.small
        div.avatar.small
          img(src="images/kunicki.jpg")
        div.author
          a.name(href="") Maryna&nbsp;Aleksandrova
          wbr
          span.date 7&nbsp;June&nbsp;2016
      p.presented-at Presented at meet.js Poznań, March 2016
      a(href="#")
        h1 Transactional event sourcing using Slick (audit log for free!).
        p.excerpt Event sourcing using Slick and transactions.
      a.btn(href="#") Read more

    section.utility-code
      pre.
        div.blog-item.presentation
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna&nbsp;Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
          p.presented-at Presented at meet.js Poznań, March 2016
          a(href="#")
            h1 Transactional event...
            p.excerpt Event sourcing using...
          a.btn(href="#") Read more

    h1.utility-title(style="margin-top: 34px;") Event calendar

    section
      div.horizontal.scroll
        ul.events

          li.event-month June

            ul
              li.event
                p.event-type conference
                h1.event-name
                  a(href="#") Conference name
                p.event-date June 23, 2016
                p.event-place Krakow, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  span.more more
                a.btn(href="#") Learn more

              li.event
                p.event-type meetup
                h1.event-name
                  a(href="#") Scalar 2016
                p.event-date June 27, 2016
                p.event-place Warsaw, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                a.btn(href="#") Learn more
              

          li.event-month July

            ul
              li.event
                p.event-type conference
                h1.event-name
                  a(href="#") Conference name
                p.event-date July 3, 2016
                p.event-place Poznan, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  span.more more 
                a.btn(href="#") Learn more

              li.event
                p.event-type meetup
                h1.event-name
                  a(href="#") Scalar 2016
                p.event-date July 5, 2016
                p.event-place Krakow, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                a.btn(href="#") Learn more

              li.event
                p.event-type conference
                h1.event-name
                  a(href="#") Long confernce name that spans across two or three lines
                p.event-date July 7, 2016
                p.event-place Warsaw, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  img.avatar.small(src="images/kunicki.jpg")
                a.btn(href="#") Learn more

          li.event-month August

            ul
              li.event
                p.event-type meetup
                h1.event-name
                  a(href="#") Long confernce name that spans across two or three lines
                p.event-date August 10, 2016
                p.event-place Warsaw, Poland
                p.event-attendees
                  img.avatar.small(src="images/kunicki.jpg")
                  a.btn(href="#") Learn more

    section.utility-code
      pre.
        div.horizontal.scroll
          ul.events

            li.event-month June

              ul
                li.event
                  p.event-type conference
                  h1.event-name
                    a(href="#") Conference name
                  p.event-date June 23, 2016
                  p.event-place Krakow, Poland
                  p.event-attendees
                    img.avatar.small(src="images/kunicki.jpg")
                    ...
                    span.more more
                  a.btn(href="#") Learn more

                li.event
                  p.event-type meetup
                  ...
                
            li.event-month July
            ...


    h1.utility-title Speakers at events

    section
      div.horizontal.scroll
        ul.talks
          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016 what is it's a long meetup name
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection long long name framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Katarzyna&nbsp;Leszczyńska-Bohdan

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

          li.event
            p.event-date June 27, 2016 
              | at 
              a(href="#").event-name Scalar 2016
            h1.talk-name
              a(href="#") Framework-less Scala Dependency Injection very-very-very long name for my lovely talk framework
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova

    h1.utility-title(style="margin-top: 19px;") Conference/meetup item

    section
      a(href="#").event-item
        p.event-type conference
        h1.event-name Scalar 2016
        p.sponsorship silver sponsor
        p.event-date June 27, 2016 
        p.event-place Poznan, Poland

    section.utility-code
      pre.
        a(href="#").event-item
          p.event-type conference
          h1.event-name Scalar 2016
          p.sponsorship silver sponsor
          p.event-date June 27, 2016 
          p.event-place Poznan, Poland

    h1.utility-title(style="margin-top: 39px;") CTAs. 
      br
      | Available classes:
      code .full 
      | for CTA with background
      br
      code .pink 
      |,
      code .light-blue 
      |,
      code .light-green 
      | etc. for background colors.  
      br
      | If color classes are used without 
      code .full 
      | class, they define the color of button. Default button color is 
      code .blue

    section.cta.full.dark-blue
      h1 Too many questions, not enought answers? Talk to someone real!
      p It doesn’t mean that you don’t match. We are always looking for awesome motivated people to join the team! Having a good attitude and being keen to learn is crucial, the rest is a matter of time. Convinced?
      a.btn.full.large(href="#") Contact us

    section.cta.light-blue
      h1 Too many questions, not enought answers? Talk to someone real!
      p It doesn’t mean that you don’t match. We are always looking for awesome motivated people to join the team! Having a good attitude and being keen to learn is crucial, the rest is a matter of time. Convinced?
      div.contact-info
        div.author-info.small
          div.avatar.small
            img(src="images/kunicki.jpg")
          div.author
            a.name(href="") Maryna&nbsp;Aleksandrova
            p.position Software Wizard
        a.btn.full.large(href="#") Contact us

    section.utility-code
      pre.
        section.cta.dark-blue (or .cta.full.dark-blue)
          h1 Too many questions, not enought answers?...
          p It doesn’t mean that you don’t match. We are ...
          div.contact-info
            div.author-info.small
              div.avatar.small
                img(src="images/kunicki.jpg")
              div.author
                a.name(href="") Maryna&nbsp;Aleksandrova
                p.position Software Wizard
            a.btn.full.large(href="#") Contact us
            or
            a.btn(href="#") Contact us

    h1.utility-title(style="margin-top: 27px;") Portfolio items

    section
      ul.portfolio
        li.portfolio-item
          div.project-description
            h1 Energy meets big data
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Backend Solutions
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
                  li
                    a.tag.industry(href="#") Security
            div.data-unit.client
              div.data-title Client
              div.data Knip
            div.data-unit.website
              div.data-title Website
              div.data
                a.btn(href="#") knip.com
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible

        li.portfolio-item.mobile
          div.project-image
            img(src="images/insurance.png")
          div.project-description
            h1 Mobile app project
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Backend Solutions
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
                  li
                    a.tag.industry(href="#") Security
            div.data-unit.client
              div.data-title Client
              div.data Knip
            div.data-unit.website
              div.data-title Website
              div.data
                a.btn(href="#") knip.com
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible


        li.portfolio-item.webapp
          div.project-description
            h1 Web app project
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-image
            img(src="images/webapp.png")
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Web app
                  li
                    a.tag.category(href="#") Backend solution
                  li
                    a.tag.category(href="#") Mobile app
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible

    section.utility-code
      pre.
        section
          ul.portfolio
            li.portfolio-item (or li.portfolio-item.mobile, or li.portfolio-item.webapp)

              // if .mobile include here
              // div.project-image
              //   img(src="images/webapp.png")

              div.project-description
                h1 Energy meets big data
                h2 Client had: 
                p Our customer builds systems...
                h2 Client needed: 
                p We are helping to build ...
                h2 We did:
                p We are helping to build a ...
                h2 Outcome:
                p We are helping to build a ...
                a.btn.green(href="#") Read case study

              // if .webapp include here
              // div.project-image
              //   img(src="images/webapp.png")

              div.project-data
                div.data-unit.category
                  div.data-title Category
                  div.data
                    ul
                      li
                        a.tag.category(href="#") Backend Solutions
                      ...
                div.data-unit.industry
                  div.data-title Industry
                  div.data
                    ul
                      li
                        a.tag.industry(href="#") Banking
                      ...
                div.data-unit.client
                  div.data-title Client
                  div.data Knip
                div.data-unit.website
                  div.data-title Website
                  div.data
                    a.btn(href="#") knip.com
                div.data-unit.technology
                  div.data-title Technology
                  div.data
                    ul
                      li
                        a.tag.technology(href="#") Scala
                      ...

            li.portfolio-item.mobile

    h2.utility-title(style="margin-top: 27px;") - R&amp;D the same as 
     code .portfoilio-item

    section
      ul.portfolio
        li.portfolio-item
          div.project-description
            h1 PW-Sat 2
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Backend Solutions
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
                  li
                    a.tag.industry(href="#") Security
            div.data-unit.client
              div.data-title Client
              div.data
                img(src="images/client-logo.png")
            div.data-unit.website
              div.data-title Website
              div.data
                a.btn(href="#") pw-sat.com
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible

    h1.utility-title(style="margin-top: 25px;") - Open source

    section
      ul.portfolio
        li.portfolio-item.os
          div.project-description
            h1 akka-http-session
            iframe.github-btn(src="https://ghbtns.com/github-btn.html?user=softwaremill&repo=bootzooka&type=star&count=true&size=large", frameborder="0", scrolling="0", width="160px", height="30px", style="  margin: 2px 0 1.6rem 0; display: inline-block; vertical-align: middle;")
            p Bootzooka is a simple application scaffolding project to allow quick start of development for modern, web based applications. If you’d like to have a jump start developing a Scala-based Single Page Application project, skipping the boring parts and focusing on the real business value, this template might be for you!
            p Bootzooka contains only the very basic features, that almost any application needs (listed below). These features are fully implemented both on server- and client- side. We hope that the implementations can also serve as blueprints for new functionalities.
            a.btn.pink(href="#") github.com/softwaremill/akka-http-session
          div.project-data
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible
            div.data-unit.people
              div.data-title People
              div.data
                ul
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")

        li.portfolio-item.os
          div.project-description
            h1 akka-http-session
            iframe.github-btn(src="https://ghbtns.com/github-btn.html?user=softwaremill&repo=bootzooka&type=star&count=true&size=large", frameborder="0", scrolling="0", width="160px", height="30px", style="  margin: 2px 0 1.6rem 0; display: inline-block; vertical-align: middle;")
            p Bootzooka is a simple application scaffolding project to allow quick start of development for modern, web based applications. If you’d like to have a jump start developing a Scala-based Single Page Application project, skipping the boring parts and focusing on the real business value, this template might be for you!
            p Bootzooka contains only the very basic features, that almost any application needs (listed below). These features are fully implemented both on server- and client- side. We hope that the implementations can also serve as blueprints for new functionalities.
            a.btn.pink(href="#") github.com/softwaremill/akka-http-session
          div.project-data
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible
            div.data-unit.people
              div.data-title People
              div.data
                ul
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")
                  li
                    a(href="#")
                      img.avatar.small(src="images/kunicki.jpg")

    section.utility-code
      pre.
        section
          ul.portfolio
            li.portfolio-item.os
              div.project-description
                h1 akka-http-session
                iframe.github-btn(src="https://ghbtns.com/github-btn.html?user=softwaremill&repo=[repo-name]&type=star&count=true&size=large", frameborder="0", scrolling="0", width="160px", height="30px", style="  margin: 2px 0 1.6rem 0; display: inline-block; vertical-align: middle;")
                p Bootzooka is a simple application ...
                a.btn.pink(href="#") github.com/softwaremill/akka-http-session
              div.project-data
                div.data-unit.technology
                  div.data-title Technology
                  div.data
                    ul
                      li
                        a.tag.technology(href="#") Scala
                      li
                        ...
                div.data-unit.people
                  div.data-title People
                  div.data
                    ul
                      li
                        a(href="#")
                          img.avatar.small(src="images/kunicki.jpg")
                      li
                        ...

            li.portfolio-item.os
            ...

    h1.utility-title(style="margin-top: 21px;") - Blog post

    section
      div.blog-post
        h1 Kafka Streams - how does it fit the stream processing landscape?
        p A table, on the other hand, is a 
          em changelog
          | . If the table contains a key-value pair for the same key twice, the latter overwrites the mapping. For example, a table of user addresses with 
          code alice -&gt; new york
          | , 
          code bob -&gt; san francisco
          |, 
          code alice -&gt; chicago
          |    means that Alice moved from 
          a(href="#") New York 
          | to Chicago, not that she lives at both places in the same time.
        pre
          code.
            case class MyEvent(timestamp: Long)

            val myEventStream = Source
              .tick(0.seconds, 1.second, "")
              .map { _ =&gt;
                val now = System.currentTimeMillis()
                val delay = random.nextInt(8)
                MyEvent(now - delay * 1000L)
              }
        h2 Away from keyboard status
        p There is almost nothing more irritating than describing a complicated problem to developers in your team for a few minutes only to notice that all of them are away from their computers.
        h3 Other small things
        p Thanks to Ruben Gerits it is possible now to define teams and manage members of the teams inside Codebrag.
        img(src="images/vert-image.jpeg").v-img
        p The most annoying thing for me, when I was joining a new project where Codebrag was used, it was too many commits to review on the beginning. It was not possible to mark all commits as reviewed at once and you have had to mark them one by one spending a lot of time on this useless activity ;-)
        p ScalaSphere by VirtusLab happened well over one-and-a-half months ago, so it's high time for some sort of summary.
        p A "DevTools Summit" is an uncommon theme for a conference. Typically, tooling presentation given during programming-related events focus on the "shiny-shiny", i.e. user-facing, prominent features. ScalaSphere aimed at providing a more holistic view of various tools, featuring a pronounced focus on the tool developer's perspective.
        h4 Dev tools
        p Before we get into the details, let me dispel a probable misconception about the subject matter - in the context of topics presented, "tools" was not a synonym for "IDEs". Rather, the talks covered a wide variety of meta level technologies and concepts, from learning environments, through IDEs, to license models.
        img(src="images/hor-image.jpeg").h-img
        p The agenda can be found on the conference's website (along with slides and recordings). That being given, I will list several subjectively more intriguing highlights.
        blockquote Matthias Langer shared his experiences during The Scala Refactoring Library: Problems and Perspectives, providing a very representative set of examples of problems that refactoring lib developer must deal with, especially in a language as syntactically and semantically complex as Scala.
        p Eugene Burmako's immediately following up What we learned in scala.meta? tied in nicely with the theme of its predecessor, going down to the language design level. Included was a very valuable discussion of various problems that crop up when dealing with the high (syntactic sugar)/low level representation mismatch:
        ol
          li Rory Graves
          li Scalanator.io
          li Building
        p Training platform on compiler tools, had announced a new Scala learning tool initiative. Apart from said announcement, the talk included an interesting overview of design and implementation choices during the creation of such a platform.
        ul
          li Sam Halliday refreshed everyone's memory on the oft-neglected topic       of OS licensing in How to be Free, Libre and Open Source. 
          li The talk also discussed several important legal aspects of various licensing schemes, so if you just spam GPL or BSD into your projects, I very much recommend taking a look at it (even forgiving being coerced       to speak German).
          li Lukas Wegmann's Scaps – Type-directed API Search for Scala is still in          the early stages of development, but looks very promising in the              context of addressing Scala's perennial problem of API discoverability.
        p Alexandre Archambault presented his Scala-native tool in Easy dependency management with coursier. The improved resolution features, and the impressive processing speed were certainly a sight to behold.
        iframe(width="560", height="315", src="https://www.youtube.com/embed/dY2Rru5f-O4", frameborder="0", allowfullscreen)
        p Alexandre Archambault presented his Scala-native tool in Easy dependency management with coursier. The improved resolution features, and the impressive processing speed were certainly a sight to behold.
        div.table-wrapper
          table
            thead
              tr
                th Engine       
                th Threads       
                th Nodes      
                th Send msgs/s        
                th Receive msgs/s
            tbody
              tr
                td mmap
                td 1         
                td 1            
                td 7 242      
                td 1 601    
              tr
                td mmap        
                td 5         
                td 1          
                td 10 687     
                td
                  strong 2 761   
              tr
                td mmap  
                td 1         
                td 2           
                td 8 928       
                td 2 426    
              tr
                td mmap        
                td 5         
                td 2            
                td
                  strong 10 963
                td 2 673
              tr
                td wired tiger
                td 1  
                td 1       
                td 4 409      
                td
                  strong 1 145
        p Alexandre Archambault presented his Scala-native tool in Easy dependency management with coursier. The improved resolution features, and the impressive processing speed were certainly a sight to behold.