doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext", rel="stylesheet")
    link(rel="stylesheet", href="index.css")
  body
    header


    section

      div.section-title-up
        ul
          li Client projects
          li R&amp;D projects
          li Open source
        hr

      ul.portfolio
        li.portfolio-item
          div.project-description
            h1 Energy meets big data
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Backend Solutions
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
                  li
                    a.tag.industry(href="#") Security
            div.data-unit.client
              div.data-title Client
              div.data Knip
            div.data-unit.website
              div.data-title Website
              div.data
                a.btn(href="#") knip.com
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible

        li.portfolio-item.mobile
          div.project-image
            img(src="images/insurance.png")
          div.project-description
            h1 Mobile app project
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Backend Solutions
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
                  li
                    a.tag.industry(href="#") Security
            div.data-unit.client
              div.data-title Client
              div.data Knip
            div.data-unit.website
              div.data-title Website
              div.data
                a.btn(href="#") knip.com
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible


        li.portfolio-item.webapp
          div.project-description
            h1 Web app project
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-image
            img(src="images/webapp.png")
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Web app
                  li
                    a.tag.category(href="#") Backend solution
                  li
                    a.tag.category(href="#") Mobile app
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible

    section.cta.full.dark-purple
      h1 Interested but not convinced yet?
      p We have some prive in how we work - we communicate a lot, we are honest about hour deadlines and money. Want to know more?
      a.btn.full.large(href="#") Check our process

    section
      header
        h1 Research &amp; Development
        p There is nothing wrong with your television set. Do not attempt to adjust the picture. We are controlling transmission.

      ul.portfolio
        li.portfolio-item
          div.project-description
            h1 PW-Sat
            h2 Client had: 
            p Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.
            h2 Client needed: 
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 We did:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            h2 Outcome:
            p We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.
            a.btn.green(href="#") Read case study
          div.project-data
            div.data-unit.category
              div.data-title Category
              div.data
                ul
                  li
                    a.tag.category(href="#") Backend Solutions
            div.data-unit.industry
              div.data-title Industry
              div.data
                ul
                  li
                    a.tag.industry(href="#") Banking
                  li
                    a.tag.industry(href="#") Security
            div.data-unit.client
              div.data-title Client
              div.data 
                img(src="images/client-logo.png")
            div.data-unit.website
              div.data-title Website
              div.data
                a.btn(href="#") knip.com
            div.data-unit.technology
              div.data-title Technology
              div.data
                ul
                  li
                    a.tag.technology(href="#") Scala
                  li
                    a.tag.technology(href="#") Akka
                  li
                    a.tag.technology(href="#") Cassandra
                  li
                    a.tag.technology(href="#") Spark
                  li
                    a.tag.technology(href="#") Ansible

    section
      div.section-title-up
        span Related posts
        hr

      ul
        li.blog-item
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna&nbsp;Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          h1 Cooperation with an external software house.
          p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
          a.btn(href="#") Read more

        li.blog-item
          div.author-info.small
            div.avatar.small
              img(src="images/kunicki.jpg")
            div.author
              a.name(href="") Maryna&nbsp;Aleksandrova
              wbr
              span.date 7&nbsp;June&nbsp;2016
              wbr
              span.time-to-read 5&nbsp;min&nbsp;read
          h1 Cooperation with an external software house.
          p.excerpt What is most important in cooperation with external software developers? What questions should be asked before making the decision?
          a.btn(href="#") Read more
