// Open source based on portfolio.jade

.portfolio-item.os 
  & h1
    color: $green-text;
    display: inline-block;
    margin-right: 1.5rem;
  
@media only screen and (min-width: 48em)
  .portfolio-item.os .data-unit 
    & .data
    & .data-title
      width: 100%;
      text-align: left;
      padding-left: .5rem;
      padding-bottom: .5rem;